@model Minor.Case1.FrontEnd.FrontEnd.Agents.Models.Inschrijving
@{
    ViewData["Title"] = "Index";
}

<h2>Inschrijving voltooid</h2>
<div>
    <a asp-action="Index">Nog iemand inschrijven</a>
</div>
