@model Minor.Case1.FrontEnd.FrontEnd.Agents.Models.ErrorMessage

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<div>
    <h4>Het bestand heeft een verkeerd formaat.</h4>
</div>
<div>
    <a asp-action="Index">Terug naar uploaden</a>
</div>
