@model Minor.Case1.FrontEnd.FrontEnd.ViewModels.FileParserViewModel

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<div>
    <h4>@Model.ErrorMesage</h4>
</div>
<div>
    <a asp-action="Index">Terug naar uploaden</a>
</div>
